<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="invoice">
                    <h5>{{newuserdata.name}}
                        <br>Your order confirmed✅
                    </h5>
                    <span>Your order will be delivered in next 2 days</span>
                    <div class="product">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let i of list">
                                    <td width="20%">
                                        <img src="{{i.images}}" width="120">
                                    </td>
                                    <td width="60%">
                                        <span class="font-weight-bold">
                                            {{i.name}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="font-weight-bold">
                                            {{i.sp}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    Thanks for Shopping with us!
                    Hope you will return for more.
                </div>
            </div>
        </div>
    </div>
</div>