<div class="home" *ngIf="checkstatus==0">
    <nav class="navbar">
        <div class="topnav-centered">
            <h1 class="active">
                ADMIN PORTAL
            </h1>
        </div>
    </nav>
</div>

<app-adminportal *ngIf="portal"></app-adminportal>

<section class="vh-100" *ngIf="checkstatus==0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-5 text-center">Admin Sign in</h3>
                        <h2 *ngIf="errorcheckstatus==-1" style="color: red;">Invalid Login Credentials</h2>

                        <form #f="ngForm">
                            <div class="form-outline">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="name" id="name" class="form-control" ngModel required>
                            </div>
                            <div class="form-outline">
                                <label for="pwd" class="form-label">Password</label>
                                <input type="password" name="password" id="pwd" class="form-control" ngModel required>
                            </div>
                            <button type="submit" class="btn btn-primary"
                            [disable]="!f.valid"
                            (click)="checkadmin(f.value)">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>