.cust-btn{
    height: 40px;
    width: 15%;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.refresh{
    background: rgb(10, 226, 28);
    font-family: "Calibri";
    font-weight: bold;
    color: white;
}
.cancel{
    text-align: right;
}
.refap{
    text-align: center;
}