<div class="container border w-50">
    <div class="row p-2">
        <div class="col">
            <p>ACC ID: {{id}}</p>
            <h5>{{account.name}}</h5>
            <p>Status: {{account.status}}</p>

        </div>
        <div class="col ">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" (click)="changeStatus('Active')">Active</button>
                <button class="btn btn-secondary btn-sm" (click)="changeStatus('InActive')">InActive</button>
                <button class="btn btn-dark btn-sm" (click)="changeStatus('Hidden')">Hidden</button>
                <button class="btn btn-danger btn-sm" (click)="accountDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>