<p>secretdisplaywithlog works!</p>
<div class="row">
<div class="col" *ngIf="secStatus=='novis'; else secHide">
    <button class="btn btn-info btn-lg" 
            (click)="onClick()"
            [ngStyle] ="{backgroundColor: getColr() }">
        Show
    </button>
</div>
<ng-template #secHide>
    <div class="col">
        <button class="btn btn-info btn-lg" 
                (click)="onClick()"
                [ngStyle] ="{backgroundColor: getColr() }">
            Hide
        </button>
        <label style="padding: 10px" appBetterHighlight [defaultColor]="'purple'" [highlightColor]="'aqua'">
            {{secret}}
        </label>
    </div>
</ng-template>


<div class="col">
    <button class="btn btn-primary btn-lg" 
            (click)="Restlogs()"
            >
        RESET logs
    </button>
</div>
</div>
    <p *ngFor="let log of logs; let i = index" 
    [ngStyle]="{backgroundColor: i > 4 ? 'dodgerblue': ''}"
    [ngClass]="{'white-text': i>4}">
    {{ log }}</p>
